<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motos J</title>
    <!-- Bootstrap CSS -->
    {% load static%}
    <link rel="stylesheet" href=" {% static 'VentaMotosJ/css/estilos.css' %}">
    <link rel="stylesheet" href=" {{ STATIC_URL }} https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    {% load static%}
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <!-- Brand -->
        <!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href={% url 'home' %} class="d-inline-block">
      <img src="{% static 'VentaMotosj\img\logomoto.png '  %}" width="100" height="100" class="d-inline-block align-top" alt="" href={% url 'home' %}>
      
      
    </a>
    <a class="navbar-brand" href={% url 'home' %}>Motos J </a>
  </nav>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href={% url 'nosotros' %}>Quienes Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'motosnuevas' %}>Motos </a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'motosgestion' %}>Agregar Moto</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'modificarborrar' %}>Lista de Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'contacto' %}>Contacto</a>
            </li>
            
          </ul>
        </div>
      </nav> 
<div id= "contenido">
    {% block contenido%}
    {% endblock%}
    <br>
     </div>
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Navegacion</h5>
					<ul class="list-unstyled quick-links">
            <li><a href={% url 'home' %}><i class="fa fa-angle-double-right"></i>Quienes Somos</a></li>
						<li><a href={% url 'nosotros' %}><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href={% url 'motosnuevas' %}><i class="fa fa-angle-double-right"></i>Motos </a></li>
            <li><a href={% url 'motosgestion' %}><i class="fa fa-angle-double-right"></i>Agregar Moto</a></li>
            <li><a href={% url 'modificarborrar' %}><i class="fa fa-angle-double-right"></i>Lista de Productos</a></li>
						<li><a href={% url 'contacto' %}><i class="fa fa-angle-double-right"></i>Contacto</a></li>
					</ul>
				</div>
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Destacado</h5>
					<ul class="list-unstyled quick-links">
						<li><a href={}><i class="fa fa-angle-double-right"></i>Mejor Calificada</a></li>
						<li><a href={}><i class="fa fa-angle-double-right"></i>Mas Vendidas</a></li>
						<li><a href={}><i class="fa fa-angle-double-right"></i>Alto Cilindraje </a></li>
            <li><a href={}><i class="fa fa-angle-double-right"></i>Bajo Cilindraje</a></li>
            
            <br>
            <h5>Informacion de contacto</h5>
            <li><a href=""><i class="fa fa-angle-double-right"></i>Celular: +56977669354</a></li>
            <li><a href=""><i class="fa fa-angle-double-right"></i>E-mail: VentaMotosJ@empresa.cl</a></li>
          </ul>
          
        </div>
      
        <div class="col-xs-12 col-sm-4 col-md-4"
      
          <div class="card" style="width: 18rem; height: 150px; ">
            <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:50" allowfullscreen></iframe>
          
          </div>
        </div>
      
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="https://www.gmail.com/" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="..." target="_blank">J.HEUSSER(DUOC)</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
    

<!-- Bootstrap CSS -->
    <script src=" {{ STATIC_URL }} https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src=" {{ STATIC_URL }}https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>
