{% extends 'VentaMotosJ/base.html' %}
{% block contenido %}
{% load crispy_forms_tags  %}
{% load static %}



        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 ">
                
                <div class="card"> 
                 <div class="card-body" >
                    <div class="d-flex justify-content-center">
                  <h2>Modifcar Datos Moto</h2>
                </div>
                  <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token  %}
                   
                  {{ form | crispy }}
                  <div class="d-flex justify-content-center">
                    <input type="reset" value="Cancelar" class="btn btn-secondary">
                    <input type="submit" value="Modificar" class="btn btn-primary">
                 {{ Mensaje }}
                </div>
            </div>
              </div>
                </form>
            </div>
 </div>

  



{% endblock %}