{% extends 'VentaMotosJ/base.html' %}
{% block contenido %}

   <table class="table table-striped  table-hover  table-responsive-xs " >
         <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cilindrada</th>
            <th>Año</th>
            <th>Precio</th>
            <th>Opciones</th>
            
            
        </tr>     
    
    {% for p in productos %}
    <tr>
       <td>{{ p.marca | title }}</td>
       <td>{{ p.modelo | title}}</td>
       <td>{{ p.cilindrada }}cc</td>
       <td>{{ p.año }}</td> 
       <td>${{ p.precio }}</td>
       <td>
          <a href="{% url 'modificarmotos' p.id %} " class="btn btn-info btn-sm" > Modifcar</a>
          <a href="{% url 'eliminarmotos' p.id %}" class=" btn btn-danger btn-sm">Borrar</a>
       </td>
       
    </tr>
    {% endfor %}
 </table>
 <div></div>

 {% endblock %}