{% extends 'VentaMotosJ/base.html' %}
{% block contenido %}
{% load static %}

<br>
<div class="container">
<div class="input-group" style="max-width: 1100px;">
    <input type="text" name="txt_producto" class="form-control" aria-label="Text input with segmented dropdown button">
    <div class="input-group-append">
        <form action="/buscar/"method="GET"></form>
        <input type="submit" class="btn btn-primary btn-sm" value="Buscar" ></input>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        {% for p in marcas %}
        <a class="dropdown-item" href="#">{{  p.nombre }}</a>
        
        {% endfor %}
  
      </div>
    </div>
  </div>  
</div>
{% for p in productos %}
  <br>
  <div class="container">

    <div class="card text-white bg-primary mb-3" style="max-width: 1100px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ p.img.url}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title"> {{  p.marca }} {{ p.modelo }} </h1>
            <p class="card-text">
              {{ p.descripcion}}
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Cilindrada {{ p.cilindrada}}cc</button>
              <button type="button" class="btn btn-secondary">Año {{ p.año }}</button>
              <button type="button" class="btn btn-secondary">Precio $ {{ p.precio }}</button>
            </div>
            <br>
           
            <a href="{% url 'contacto'  %} " class="btn btn-success btn" > Cotiza aqui</a>
           
            <button type="button" class="btn btn-success">{{  p.marca }}</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endfor %}
  
</div>
</div>


{% endblock %}